@config "../tailwind.config.ts";
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-body: hsl(0, 0%, 99%);
  --color-hero-background: hsl(40, 87%, 91%);

  --color-primary: hsl(205, 100%, 14%);
  --color-primary-100: hsl(205, 100%, 40%);
  --color-primary-200: hsl(205, 100%, 27%);
  --color-primary-300: hsl(205, 100%, 14%);

  --color-secondary: hsl(39, 83%, 81%);
  --color-secondary-100: hsl(38, 87%, 91%);
  --color-secondary-200: hsl(39, 77%, 76%);
  --color-secondary-300: hsl(39, 77%, 71%);

  --color-state: hsl(197, 100%, 45%);
  --color-accent: hsl(29, 100%, 59%);
  --color-success: hsl(135, 59%, 49%);
  --color-destructive: hsl(2, 100%, 65%);

  --color-neutral-0: hsl(0, 0%, 99%);
  --color-neutral-10: hsl(195, 11%, 93%);
  --color-neutral-20: hsl(190, 6%, 81%);
  --color-neutral-40: hsl(195, 6%, 62%);
  --color-neutral-60: hsl(196, 9%, 44%);
  --color-neutral-80: hsl(212, 17%, 17%);
  --color-neutral-100: hsl(195, 100%, 6%);
}

html,
body {
  @apply bg-body;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
